@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.title {
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #1D3444;
}

.subtitle {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    color: #1D3444;
}

.card-title {
    font-weight: 500;
    line-height: 107%;
    font-size: 24px;
    color: #0d1317;
    margin-top: 33px;
}

.card-description {
    font-weight: 500;
    line-height: 28px;
    color: #5b5b5b;
    margin-top: 17px;
}

.card-button {
    color: #F58A07;
    margin-top: 24px;
}

.card-button img {
    margin-left: 8px;
}

.mb96 {
    margin-bottom: 96px;
}

.description {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5b5b5b;
}

.container {
    max-width: 1280px;
    margin-inline: auto;
}

.aqua {
    background-color: #dceaf5;
}

.blue {
    background-color: #063255;
}


.blue-container {
    position: relative;
    overflow: hidden;
    min-height: 400px;
}

.wrapper {
    padding: 48px;
    border-radius: 20px;
}

.default {
    background-color: #fff;
}

.aqua-container {
    position: relative;
    overflow: hidden;
    min-height: 600px;
    margin-bottom: 96px;
}

.decor {
    position: absolute;
    border-radius: 16px;
    z-index: -1;
}

.decor-big {
    width: 220px;
    height: 380px;
    left: 200px;
    top: 280px;
    opacity: 75%;
    z-index: 2;
    background: rgba(245, 138, 7, 1);
}

.decor-small {
    width: 160px;
    height: 260px;
    right: 240px;
    bottom: 15px;
    opacity: 75%;
    background: rgba(245, 138, 7, 1);
}

.decor-hover {
    width: 153px;
    height: 667px;
    z-index: 1;
}

.decor-img {
    width: 179px;
    height: 178px;
    z-index: 1;
}

.decor-rotate {
    z-index: 1;
    background: none;
    right: -60px;
    top: -60px;
    animation: rotate 10s linear infinite;
    pointer-events: none;
}

.button {
    padding: 18px 32px;
    -webkit-border-radius: 31px;
    -moz-border-radius: 31px;
    border-radius: 31px;
    font-weight: 600;
    font-size: 16px;
}

.light-button {
    background-color: #F58A071A;
    color: #f58a07;
    font-weight: 600;
    line-height: 107%;
}

.active-button {
    color: #fff;
    background-color: #F58A07;
}

.header-wrapper {
    margin-top: 28px;
    margin-bottom: 16px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navigation {
    display: flex;
    gap: 40px;
}

.header-navigation ul {
    display: flex;
    padding-top: 14px;
    gap: 32px;
}

.header-navigation ul li a {
    color: #394149;
    font-weight: 600;
    line-height: 24px;
    transition: color 0.2s ease, border-bottom-color 0.2s ease;
    border-bottom: 1px solid transparent;
}

.header-navigation ul li a:hover {
    color: #343537;
    border-bottom-color: #000;
    transition: width 0.2s ease;

}


.main-banner {
    display: flex;
    align-items: center;
    min-height: 600px;
}

.main-banner-info {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.main-banner-info span {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(57, 65, 73, 0.5);
    margin-bottom: 18px;
}

.main-banner-description {
    margin-top: 12px;
}

.main-banner-image {
    position: absolute;
    right: 105px;
    top: 57%;
    transform: translateY(-50%);
    z-index: 1;
}

.main-banner-buttons {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 32px;
    margin-bottom: 56px;
}

.main-banner-icons {
    display: flex;
    gap: 45px;
}

.main-banner-image img {
    height: 700px;
    width: auto;
    display: block;
    position: relative;
    z-index: 1;
}


.default-content {
    display: flex;
    flex-direction: column;
}

.default-content .cards {
    display: flex;
    gap: 40px;
}

.default-content .cards .card {
    display: flex;
    flex-direction: column;
}

.default-content h2, p {
    max-width: 735px;
}

.default-content .description {
    margin-top: 27px;
    margin-bottom: 64px;
}

.business-info {
    display: flex;
    gap: 40px;
    margin-top: 96px;
}

.business-info .subtitle {
    font-size: 36px;
    line-height: 44px;
    color: #0d1317;
}

.business-info .description {
    font-size: 18px;
    line-height: 30px;
    color: #1d3444;
}

.info-cards {
    display: flex;
    gap: 38px;
    align-content: center;
    margin-top: 64px;
    margin-bottom: 96px;
}

.info-cards .info-card {
    background-color: #fff;
    border-radius: 20px;
    padding: 48px 26px 37px 39px;
}

.info-cards .info-card .info-card-title {
    color: #0d1317;
    font-weight: 600;
    font-size: 24px;
    line-height: 107%;
    margin-top: 32px;
    margin-bottom: 16px;
}

.info-cards .info-card .info-card-description {
    font-size: 16px;
    line-height: 28px;
    color: #5b5b5b;
}

.energy-wrapper {
    display: flex;
    gap: 47px;
}

.energy-info {
    display: flex;
    flex-direction: column;
}

.energy-info h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #0d1317;
}

.energy-info p {
    color: #5b5b5b;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 48px;
}

.energy-info-cards {
    display: flex;
    gap: 26px;
}

.energy-info-cards .card {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.energy-info-cards .card h3 {
    color: #f58a07;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    line-height: 50px;
    font-size: 36px;
}

.energy-info-cards .card p {
    margin: 0;
    padding: 0;
}

.energy-img {
    position: relative;
    margin-bottom: 96px;
}

.energy-img img {
    border-radius: 16px;
}

.nav-buttons {
    display: flex;
    gap: 24px;
}

.nav-buttons button {
    color: rgba(6, 50, 85, 0.3);
    border: 1px solid rgba(168, 188, 204, 1);
    padding: 8px 24px;
    border-radius: 20px;
}

.nav-buttons button:hover {
    color: #F58A07;
    background-color: #fff;
}

.nav-buttons .active {
    color: #F58A07;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    background-color: #fff;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.helping-info {
    display: flex;
    gap: 140px;
    margin-top: 80px;
}

.helping-title {
    display: flex;
    flex-direction: column;
}

.helping-title h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #0d1317;
}

.helping-title p {
    margin-top: 25px;
    margin-bottom: 40px;
    color: #5b5b5b;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.helping-img {
    position: relative;
}

.helping-img img {
    border-radius: 20px;
}

.energy-images {
    display: flex;
}

.energy-images img {
    height: 518px;
}

.energy-images div {
    width: 100%;
    background-color: #f58a07;
    padding: 128px;
}

.energy-images div h3 {
    font-weight: 600;
    color: #fff;
    font-size: 48px;
    margin-bottom: 40px;
    line-height: 56px;
}

.energy-images div a {
    color: #f58a07;
    font-weight: 600;
    font-size: 16px;
    line-height: 107%;
    padding: 19px 32px;
    background-color: #fff;
    border-radius: 31px;
}

.dream-info {
    display: flex;
    gap: 110px;
    margin: 128px 0;
}

.dream-info .dream-title {
    display: flex;
    flex-direction: column;
}

.dream-info .dream-title h3 {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #0d1317;
}

.dream-info .dream-title p {
    color: #5b5b5b;
    font-weight: 500;
    font-size: 18px;
    margin-top: 24px;
    line-height: 30px;
}

.ceo {
    display: flex;
    gap: 24px;
    margin-top: 40px;
}

.ceo img {
    width: 80px;
    aspect-ratio: 1;
}

.ceo-info {
    display: flex;
    flex-direction: column;
}

.ceo-info strong {
    font-weight: 500;
    color: #063255;
    font-size: 24px;
    line-height: 171%;
}

.ceo-info small {
    color: #f58a07;
    font-weight: 500;
    font-size: 18px;
    line-height: 171%;
}

.video-container {
    position: relative;
}

.video-container .video {
    display: flex;
    align-items: center;
    gap: 17px;
    bottom: 40px;
    left: 40px;
    position: absolute;
}

.video-container .video p {
    font-weight: 600;
    line-height: 102%;
    font-size: 18px;
    color: #fff;
}

.mb0 {
    margin-bottom: 0;
}

.news {
    margin-top: 96px;
}

.news h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #0d1317;
}


.news-cards {
    display: flex;
    gap: 40px;
    margin-bottom: 96px;
}

.news-cards .card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
}


.card-wrapper {
    padding: 32px;
}

.footer-content {
    padding-top: 80px;
    display: flex;
    gap: 110px;
}

.footer-info p {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #fff;
}

.footer-info .social {
    display: flex;
    flex-direction: column;
}

.footer-info .social p {
    font-weight: 600;
    line-height: 44px;
    font-size: 36px;
    color: #fff;
    margin: 32px 0;
}

.footer-info .icons {
    display: flex;
    gap: 16.88px;
}

.company p {
    margin-bottom: 24px;
    font-weight: 600;
    color: #fff;
    font-size: 18px;
    line-height: 100%;
}

.company ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.company ul li a {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 100%;
}

.connect strong {
    display: inline-block;
    margin-bottom: 26px;
    font-weight: 600;
    color: #fff;
    font-size: 18px;
    line-height: 100%;
}

.connect p {
    color: #fff;
    font-weight: 500;
    line-height: 100%;
    font-size: 16px;
}

.connect p:not(:last-child) {
    margin-bottom: 16px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    width: 342px;
}

.newsletter p {
    margin-bottom: 24px;
    font-weight: 600;
    color: #fff;
    font-size: 18px;
    line-height: 100%;
}

.newsletter input {
    width: 100%;
    padding: 18px 32px;
    border-radius: 31px;
    margin-bottom: 16px;
}

.newsletter input::placeholder {
    color: #9c9c9c;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 100%;
}

.newsletter a {
    padding: 18px 32px;
    border-radius: 31px;
    background-color: #f58a07;
    font-weight: 600;
    font-size: 18px;
    line-height: 107%;
    color: #fff;
    max-width: 156px;
}

.newsletter a:hover {
    background-color: #F58A25;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.footer-bottom div {
    display: flex;
    gap: 32px;
}

.footer-bottom p {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}




